<div>
    Ember 1.7.0 Main template, including an inner template:
   {{view templateName='sub/sub'}}
   {{#link-to 'photos'}}Show Photos{{/link-to}}
   {{#link-to 'index'}}Show Index{{/link-to}}
   {{outlet}}
</div>